//color
$bg-dark: #1b1b1b;
$font-color: #b1b1b1;
$golden: #b88b58;

$gray-dark: #3c3c3c;


//typography
$font-family-bold: circular-bold;
$font-family-book: circular-book;
$font-family-medium: circular-medium;

$font-size: 17px;





//main-title-----------------------------------
$main-title-font-size: 44px;
$main-title-line-height: 52px;

//person======================---------
$person-font-size: 14px;
$person-line-height: 20px;


//description-----------------
$description-font-size: 17px;
$description-line-height: 23px;
$description-letter-space: 0.2px;

//work-----------------------------
$work-font-size: 14px;
$work-line-height: 20px;

//exp-block--------------------------
$exp-block-font-size-h3: 11px;

$skills-font-size: $font-size;
$skills-line-height: 23px;
$skills-letter-spacing: 0.2px;

$mail-font-family: $font-family-medium;
$mail-font-size: 24px;
$mail-line-height: 32px;
$mail-letter-spacing: 0.4px;


//footer-----------------------------
$footer-font-size: 11px;
$footer-line-height: 15px;
$footer-letter-spacing: 0.2px;
